.empty-content {

  display: flex;
  min-height: 500px;
  .content-1-2 {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .image-content-1 {
     i{
         background-color: transparent;
         color: #ebedef;
     }
    }
    .btn-content {
     
      margin-top:20px;
      border-style: solid;
      border:none;
      button{
        padding-right:40px;
        padding-left: 50px;
          background-color: transparent;
        border:solid 0.5px #ebedef;
          border-radius: 10px;
          outline-color: none;
          padding: 10px 60px 10px 60px;
          &:focus{
            border-color: #ebedef;
              outline: none;
          }
          &:hover{
              background-color:#ebedef ;
          }
      }
      
    }
  }
}
