.empty-content {

  display: flex;
  min-height: 500px;
  .content-1-2 {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .image-content-1 {
     i{
         background-color: transparent;
         color: #ebedef;
     }
    }
    .btn-content {
        margin-top:20px;
      border-style: solid;
      border:none;
      button{
          background-color: transparent;
        //   border-color: #ebedef;
        border:solid 0.5px #ebedef;
          border-radius: 10px;
          outline-color: none;
          min-width: 80%;
          padding:10px;
          &:focus{
            border-color: #ebedef;
              outline: none;
          }
          &:hover{
              background-color:#ebedef ;
          }
      }
      
    }
  }
}
