.product-list{
    border-radius: 100px;
    position: absolute;
    min-width:80%;
    background-color: white;
    top:56px;
    .product-item{
        // height: 500px;
        &:hover{
            background-color: #e6effa;
            &:first-child{
                border-top-right-radius: 5px;
            }
        }
      
        font-size: 15px;
        display: flex;
        border-style: solid;
        border-color:#cfd5df ;
        border-width: 0.5px;
        .image{
            display: flex;
            border-right-width: 0.5px;
            border-right-style: solid;
            border-right-color:#cfd5df ;
            padding-top:10px;
            padding-bottom: 10px;
            .image-size{
                margin: auto;
                height: 30px;
                width: 30px;
            }
    
        }
        .content{
            flex:1;
            margin-left:20px;
            margin-right:20px;
            display: flex;
            flex-direction: column;
            .content-1{
                display: flex;
                justify-content: space-between;
    
            }
            .content-2{
                display: flex;
                justify-content: space-between;
    
            }
        }
    }
}