.table-row{
    th{
        button{
            margin:4px;
            border:none;
            outline: none;
            background-color: transparent;
        }
    } 
    td{
      
        input{
            border:none;
            max-width: 50px;
            align-content: center;
            border-radius: 2px;
            text-align: right;
        }
    }
}