.create-return-order{
    padding:0 10px 0 10px;
    .lable{
        font-size: 25px;
        font-weight: 500;
    }
    .order-return-content{
        .content-right{
            background-color: white;
            .label-product{
                

            }
            .table-product{

            }
        }
        .content-left{

        }
    }
}