.order-infor-1{
  .label-order{

  }
  .list-item{
    .table{
      thead{
        tr{
          .th-3{
            text-align: right;
          }
        }
      }
    }
    .list-item-amount{
      padding-top:30px;
      .amount-1{
        display:flex;
        justify-content: space-between;
      }
      .total-money-1{
        display:flex;
        justify-content: space-between;
        span{
          font-weight: bold;

        }
      }
    }
  }
}